$primary-color: #f72585;
$secondary-color: #4361ee;

.loading {
  border: 0.4rem solid $secondary-color;
  border-top: 0.4rem solid $primary-color;
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
  animation: spin 2s linear infinite;
  margin-top: 10rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
